/**
* This is setting content align to the center
 */
.center {
    align-items: center;
    width: 50%;
    padding: 10px;
}

/**
* This is setting style of headline
 */
H1 {
    color: rgb(22, 118, 243);
    font-weight: bold;
    margin: 0 auto;
    max-width: 500px;
    left: 50%;
}
