/* Variables */

:root {
    --heading-fg-color: rgb(22, 118, 243);
}

/* Main layout */
a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}

.header {
    padding: 0 var(--lumo-space-m);
}

.logo {
    color: blue;
    font-size: medium;
    font-weight: bold;
    margin: 0;
}

/* Currency view */
.currency-view .content {
    display: flex;
}

.currency-view .currency-grid {
    flex: 2;
}

.currency-view .currency-form {
    flex: 1;
    padding: var(--lumo-space-m);
}


@media all and (max-width: 1100px) {
    .currency-view.editing .toolbar,
    .currency-view.editing .currency-grid {
        display: none;
    }

}

/* AccessOrderForm */
.access-order-form {
    padding: var(--lumo-space-m);
}

/* product_category-view */
.product_category-view .content {
    display: flex;
}

.product_category-view .product_category-grid {
    flex: 2;
}

.product_category-view .product_category-form {
    flex: 1;
    padding: var(--lumo-space-m);
}


@media all and (max-width: 1100px) {
    .product_category-view.editing .toolbar,
    .product_category-view.editing .product_category-grid-grid {
        display: none;
    }

}

/* Currency rate view */
.currency-rate-view .content {
    display: flex;
}

.currency-rate-view .currency-rate-grid {
    flex: 2;
}

.currency-rate-view .currency-rate-form {
    flex: 1;
    padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px) {
    .currency-rate-view.editing .toolbar,
    .currency-rate-view.editing .currency-rate-grid {
        display: none;
    }
}

/* Attibute view */
.attribute-view .content {
    display: flex;
}

.attribute-view .attribute-grid {
    flex: 2;
}

.attribute-view .attribute-form {
    flex: 1;
    padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px) {
    .attribute-view.editing .toolbar,
    .attribute-view.editing .attribute-grid {
        display: none;
    }
}


/* Attibute set view */
.attribute-set-view .content {
    display: flex;
}

.attribute-set-view .attribute-set-grid {
    flex: 2;
}

.attribute-set-view .attribute-set-form {
    flex: 1;
    padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px) {

    .attribute-set-view.editing .toolbar,
    .attribute-set-view.editing .attribute-set-grid {
        display: none;
    }
}

/* Attibute option view */
.attribute-option-view .content {
    display: flex;
}

.attribute-option-view .attribute-option-grid {
    flex: 2;
}

.attribute-option-view .attribute-option-form {
    flex: 1;
    padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px) {

    .attribute-option-view.editing .toolbar,
    .attribute-option-view.editing .attribute-set-grid {
        display: none;
    }
}

/* Attibute set Attribute view */
.attribute-set-attribute-view .content {
    display: flex;
}

.attribute-set-attribute-view .attribute-set-attribute-grid {
    flex: 2;
}

.attribute-set-attribute-view .attribute-set-attribute-form {
    flex: 1;
    padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px) {
    .attribute-set-attribute-view.editing .toolbar,
    .attribute-set-attribute-view.editing .attribute-set-attribute-grid {
        display: none;
    }
}

/* Payment view */
.payment-view .content {
    display: flex;
}

.payment-view .payment-grid {
    flex: 2;
}

.payment-view .payment-form {
    flex: 1;
    padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px) {
    .payment-view.editing .toolbar,
    .payment-view.editing .payment-grid {
        display: none;
    }
}

/* Payment Method view */
.payment-method-view .content {
    display: flex;
}

.payment-method-view .payment-method-grid {
    flex: 2;
}

.payment-method-view .payment-method-form {
    flex: 1;
    padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px) {
    .payment-method-view.editing .toolbar,
    .payment-method-view.editing .payment-method-grid {
        display: none;
    }
}

/* Users view */
.users-view .content {
    display: flex;
}

.users-view .users-grid {
    flex: 2;
}

.users-view .user-form {
    flex: 1;
    padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px) {
    .users-view.editing .toolbar,
    .users-view.editing .users-grid {
        display: none;
    }
}

/* User addresses view */
.user-addresses-view .content {
    display: flex;
}

.user-addresses-view .user-addresses-grid {
    flex: 2;
}

.user-addresses-view .user-address-form {
    flex: 1;
    padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px) {
    .user-addresses-view.editing .toolbar,
    .user-addresses-view.editing .user-addresses-grid {
        display: none;
    }
}

/* Filter by attribute dialog */
.filter-by-attributes-dialog-content {
    display: flex;
    max-width: 1100px;
    min-width: 1100px;
    /*max-height: content-box;*/
    /*max-height: 550px;
    min-height: 550px;*/
}

.filter-by-attributes-dialog-content .menu-bar {
    flex: 1;
    border: 1px solid black;
    padding: var(--lumo-space-m);
}

.filter-by-attributes-dialog-content .values-form {
    flex: 2;
    border: 1px solid black;
    padding: var(--lumo-space-m);
}

/* User roles view */
.user-roles-view .content {
    display: flex;
}

.user-roles-view .user-roles-grid {
    flex: 2;
}

.user-roles-view .user-roles-form {
    flex: 1;
    padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px) {
    .user-roles-view .toolbar,
    .user-roles-view .user-roles-grid {
        display: none;
    }
}

/* Frontend Orders view */
.frontend-orders-view .orders-view-heading {
    color: var(--heading-fg-color);
    font-size: x-large;
    font-weight: bold;
}

/* Frontend Order details view */
.frontend-order-detail-view .content {
    display: flex;
}

.frontend-order-detail-view .order-info {
    flex: 2;
}

.frontend-order-detail-view .show-product-attributes-form {
    flex: 1;
    padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px) {
    .frontend-order-detail-view.editing .order-info {
        display: none;
    }
}

/* Admin Orders view */
.admin-orders-view .orders-view-heading {
    color: var(--heading-fg-color);
    font-size: x-large;
    font-weight: bold;
}

/* Order view */
.order-view .content {
    display: flex;
}

.order-view .order-grid {
    flex: 2;
}

.order-view .order-form {
    flex: 1;
    padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px) {
    .order-view .toolbar,
    .order-view .order-grid {
        display: none;
    }
}

/* Order Status view */
.order-status-view .content {
    display: flex;
}

.order-status-view .order-status-grid {
    flex: 2;
}

.order-status-view .order-status-form {
    flex: 1;
    padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px) {
    .order-status-view .toolbar,
    .order-status-view .order-status-grid {
        display: none;
    }
}

/* Order Order Status view */
.order-order-status-view .content {
    display: flex;
}

.order-order-status-view .order-order-status-grid {
    flex: 2;
}

.order-order-status-view .order-order-status-form {
    flex: 1;
    padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px) {
    .order-order-status-view .toolbar,
    .order-order-status-view .order-order-status-grid {
        display: none;
    }
}

/* Cart view */
.cart-view .content {
    display: flex;
}

.cart-view .cart-grid {
    flex: 2;
}

.cart-view .cart-form {
    flex: 1;
    padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px) {
    .cart-view.editing .toolbar,
    .cart-view.editing .cart-grid {
        display: none;
    }
}

/* Create account view */
.create-account-view .create-account-form {
    padding: var(--lumo-space-m);
}

.create-account-view .validation-form {
    padding: var(--lumo-space-m);
}

/* Account info view */
.account-info-view {
    padding: var(--lumo-space-m);
}

/* Order Status History view */

.admin-history-statuses-grid {
    min-width: 500px;
    max-width: 1100px;
    border: 1px solid black;
}
/** Order payment dialog*/
.order-payments-grid {
    min-width: 800px;
    max-width: 1100px;
    border: 1px solid black;
}

/* Order Status Update view */
.admin-update-status-description{
    min-width: 500px;
    max-width: 1100px;
    min-height: 300px;
    border: 1px solid black;
}

.order-status-description-area {
    min-width: 700px;
    min-height: 300px;
}

/* Product detail view*/
.product-detail-image {
    padding-top: 30px;
    padding-right: 40px;
}

/* Section component */

.section {
    padding: 0;
}

/* Heading components */

.heading {
    color: var(--heading-fg-color);
}

.page-heading {
    font-size: 2em;
}

.section-heading {
    font-size: 1.5em;
}
